<nav class="navbar navbar-expand-lg bg-body-secondary">
  <!-- <nav class="navbar bg-dark" data-bs-theme="light"> -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Socio-Com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="#" data-component="all-articles">Home</a>
          <a class="nav-link " href="#" data-component="write-post">Write</a>
          <a class="nav-link" href="#" data-component="my-post">My Posts</a>
        </div>
      </div>
    </div>
    <span  id="currentuser" class="text-primary ml-auto px-2 font-weight-bold">Guest</span>
  </nav>
  <!-- <script src="./scnavbar.js"></script> -->
  <script src="../scripts/navbar.js"></script>